@using BComic_Utilidades
@model BComic_Modelos.Producto
@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form method="post" asp-action="Eliminar" >
     <input asp-for="Id" hidden/>
     <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                 <h2 class="text-info">Seguro quieres Eliminar el Producto?</h2>
            </div>
            <div class="row">
                    <div class="col-8">
                        <div class="container">
                            <div class="row">
                                <div class="col-mod-6">
                                    <label asp-for="Nombre" class="form-label">Nombre del Producto</label>
                                    <input asp-for="Nombre" disabled class="form-control"/>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-mod-6">
                                    <label asp-for="Precio" class="form-label">Precio</label>
                                    <input asp-for="Precio" disabled class="form-control"/>                                    
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-mod-6">
                                    <label asp-for="DescripcionCorta" class="form-label">Descripcion Corta</label>
                                    <input asp-for="DescripcionCorta" disabled class="form-control"/>                                   
                                </div>

                            </div>
                             <div class="row" hidden>
                                <div class="col-mod-6">
                                    <label asp-for="DescripcionLarga" class="form-label">Descripcion del Producto</label>
                                    <textarea asp-for="DescripcionLarga"  class="form-control summernote"> </textarea>                                    
                                </div>

                            </div>
                             <div class="row" hidden>
                                <div class="col-mod-6">
                                    <label asp-for="ImagenUrl" class="form-label">Imagen </label>
                                    <input asp-for="ImagenUrl" class="form-control"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-mod-6">
                                    <label asp-for="CategoriaId" class="form-label">Categorias</label>
                                    <input asp-for="CategoriaId" hidden class="form-control"/>
                                    <input asp-for="Categoria.NombreCategoria" disabled  class="form-control"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-mod-6">
                                    <label asp-for="TipoAplicacionId" class="form-label">Tipo Aplicacion</label>
                                     <input asp-for="TipoAplicacionId" hidden class="form-control"/>
                                    <input asp-for="TipoAplicacion.Nombre" disabled class="form-control"/>
                                </div>
                             </div>
                            <br/>
                            <div class="d-grid gap-2 d-md-block">                         
                               
                                    <button type="submit" class="btn btn-danger ">Eliminar</button>                                                       
                                    <a asp-controller="Producto" asp-action="Index" class="btn btn-success">Regresar</a>
                            </div>
                         </div>
                    </div>
                    <div class="col-4">
                @if (Model.Id != 0)
                {
                    <img src="@WC.ImagenRuta@Model.ImagenUrl" width="100%" style="border:1px solid #bbb; border-radius:4px"/>
                }
            </div>
            </div>
        
    </div>


</form>


@section Scripts {
    @{<partial name="_ValidationScriptsPartial" />}
}
