@using BComic_Utilidades
@model BComic_Modelos.ViewModels.ProductoVM
@{
    var titulo = "Crean Nuevo Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    
    @if(Model.Producto.Id != 0)
    {
        titulo = "Editar Producto";
        <input asp-for="Producto.Id" hidden/>
    }
    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                 <h2 class="text-info">@titulo</h2>
            </div>
            <div class="row">
                    <div class="col-8">
                        <div class="container">
                            <div class="row">
                                <div class="col-mod-6">
                                    <label asp-for="Producto.Nombre" class="form-label">Nombre del Producto</label>
                                    <input asp-for="Producto.Nombre" class="form-control"/>
                                    <span asp-validation-for="Producto.Nombre" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-mod-6">
                                    <label asp-for="Producto.Precio" class="form-label">Precio</label>
                                    <input asp-for="Producto.Precio" class="form-control"/>
                                    <span asp-validation-for="Producto.Precio" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-mod-6">
                                    <label asp-for="Producto.DescripcionCorta" class="form-label">Descripcion Corta</label>
                                    <input asp-for="Producto.DescripcionCorta" class="form-control"/>
                                    <span asp-validation-for="Producto.DescripcionCorta" class="text-danger"></span>
                                </div>

                            </div>
                             <div class="row">
                                <div class="col-mod-6">
                                    <label asp-for="Producto.DescripcionLarga" class="form-label">Descripcion del Producto</label>
                                    <textarea asp-for="Producto.DescripcionLarga" class="form-control summernote"> </textarea>
                                    <span asp-validation-for="Producto.DescripcionLarga" class="text-danger"></span>
                                </div>

                            </div>
                             <div class="row">
                                <div class="col-mod-6">
                                    <label asp-for="Producto.ImagenUrl" class="form-label">Imagen </label>
                                    <input type="file" name="files" id="imagenId" class="form-control"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-mod-6">
                                    <label asp-for="Producto.CategoriaId" class="form-label">Categorias</label>
                                    <select asp-for="Producto.CategoriaId" asp-items="Model.CategoriaLista" class="form-select">
                                        <option disabled selected>Seleccione una categoria</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-mod-6">
                                    <label asp-for="Producto.TipoAplicacionId" class="form-label">Tipo Aplicacion</label>
                                    <select asp-for="Producto.TipoAplicacionId" asp-items="Model.TipoAplicacionLista" class="form-select">
                                        <option disabled selected>Seleccione un Tipo de Aplicacion</option>
                                    </select>
                                </div>
                             </div>
                            <br/>
                            <div class="d-grid gap-2 d-md-block">

                                @if(Model.Producto.Id != 0)
                                {
                                    <button type="submit" class="btn btn-primary ">Actualizar</button>
                                }
                                 else
                                 {
                                    <button type="submit" onClick="return validarImagen()" class="btn btn-primary ">Crear </button>
                                 }
                                 <a asp-controller="Producto" asp-action="Index" class="btn btn-success">Regresar</a>
                            </div>
                         </div>
                    </div>
                    <div class="col-4">
                @if (Model.Producto.Id != 0)
                {
                    <img src="@WC.ImagenRuta@Model.Producto.ImagenUrl" width="100%" style="border:1px solid #bbb; border-radius:4px"/>
                }
            </div>
            </div>
        
    </div>


</form>


@section Scripts {
    @{<partial name="_ValidationScriptsPartial" />}

    <script>
        $(document).ready(function(){
             $('.summernote').summernote({
                 height:250
             });
        })
        function validarImagen(){
            if(document.getElementById("imagenId").value==""){
                Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Seleccione una Imagen! '
                            })
                return false;
             }
             return true;
        }
    </script>
}
