@model IEnumerable<BComic_Modelos.TipoAplicacion>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Lista de Tipos de aplicacion</h2>
        </div>
         <div class="col-6 text-end" >
            <a asp-controller="TipoAplicacion" asp-action="Crear" class="btn btn-secondary">
                <i class="fa-solid fa-plus"></i>
                Nuevo Tipo de Aplicacion
            </a>
        </div>
        @if(Model.Count()>0)
        {
            <table class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                         <th>
                             Nombre 
                         </th>
                         <th>
                             Accion
                         </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th width="50%">
                                @item.Nombre
                            </th>
                              <th class="text-center" width="20%">   
                                 <div class="w-75 btn-group" role="group">
                                     <a asp-controller="TipoAplicacion" asp-action="Editar"  asp-route-Id="@item.Id" class="btn btn-primary mx-2"><i class="fa-solid fa-pen-to-square"></i></a>
                                     <a asp-controller="TipoAplicacion" asp-action="Eliminar" asp-route-Id="@item.Id" class="btn btn-danger mx-2"><i class="fa-solid fa-trash"></i></a>
                                 </div>
                            </th>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>Noy hay registros de Tipo de Aplicacion</p>
        }
    </div>

</div>



